// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// Variables
@import 'variables';

// Bootstrap, use it or don't, it's up to you
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: TheWestGate;
    src: url('/fonts/TheWestGate.ttf');
}

.logo {
    font-family:TheWestGate;
    color:$myBlue;
}

.navbar.bg-light {
    box-shadow: $myShadow 0 3pt 6pt;
}

.navbar {
    li {
        font-size:15pt;
        letter-spacing: .5pt;
        padding-right:1pt;
        color:$myBlue;
    }
}

.slider {
    width:100%;
    min-height:300pt;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    .slider-info-box {
        width:40%;

        h2 {
            font-family: "Open Sans", sans-serif;
            font-size:40pt;
            font-weight:800;
            color:$myBlue;
            margin:0;
        }
        p {
            color:$myBlue;
            font-size:11pt;
        }
        .slider-button {
            background-color: $myBlue;
            padding: 7.5pt 25pt;
            color: white;
            font-size: 10pt;
            border-radius: 20pt;
        }
        .slider-button:hover {
            text-decoration: none;
        }
    }
}

.form-container {
    background-color:#1A237E;
    width:100%;
    padding:25pt 0;

    input {
        border-radius:20pt;
    }

    .small-text {
        display:block;
        color:#BDBDBD;
        opacity: .8;
        font-size:8pt;
        margin: -10pt auto auto;
    }
}

.nanize-button {
    background-color:#FFEB3B;
    border-radius:20pt;
    color:#212121;
    font-size:12pt;
    font-weight:bold;
    line-height: 23pt;
    letter-spacing: .5pt;
}

.most-recognizable {
    color:$myBlue;
}

.brand-cards {
    width:50%;
    margin-bottom: 50pt;

    .brand-card {
        height: 280px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 0;
        border-radius: 20pt;
        margin-bottom: 20pt;

        .overlay {
            display: block;
            z-index: 999;
            position: absolute;
            left: 4%;
            bottom: -10pt;
            width: 92%;
            border-bottom-right-radius: 20pt;
            border-bottom-left-radius: 20pt;
            height: 40%;
            background-color: white;
            box-shadow: $myShadow 0 3pt 6pt;

            img {
                position:absolute;
                top:-30pt; left:calc(50% - 30pt);
                display:block;
                max-width:60pt;
                border:1pt #BDBDBD solid;
            }

            .overlay-info {
                width:100%;
                position:absolute;
                bottom:10pt; left:0;

                h4 {
                    text-align:center;
                    font-family: "Open Sans", sans-serif;
                    font-weight:bold;
                    font-size:10pt;
                    letter-spacing: 0pt;
                }

                button {
                    width: 90%;
                    margin-left: 5%;
                    background-color: $myBlue;
                    color: white;
                    font-size: 10pt;
                    border-radius: 20pt;
                }
            }
        }
    }

    .load-more-button {
        background-color: #fff;
        border-radius: 20pt;
        border:1pt #f1f1f1 solid;
        box-shadow: $myShadow 0 3pt 6pt;
        padding:5pt 0;
        margin:20pt auto auto;
        text-align: center;
    }
}


.footer {
    background-color: $myBlue;
    padding:50pt 0;
    color:#fff;

    h4 {
        font-size:16pt;
        i {
            position:absolute;
            top:3pt;
            left:-10pt;
        }
    }

    ul {
        padding:0;

        .social-icons {
            i {
                font-size:20pt;
                padding:5pt 20pt 0 0;
            }
        }
        li {
            list-style: none;
        }
    }
}
